<p id="notice"><%= notice %></p>

<h1>Blends</h1>

<table>
  <thead>
    <tr>
      <th>Percentage</th>
      <th>Wine</th>
      <th>Strain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blends.each do |blend| %>
      <tr>
        <td><%= blend.percentage %></td>
        <td><%= blend.wine_id %></td>
        <td><%= blend.strain_id %></td>
        <td><%= link_to 'Show', blend %></td>
        <td><%= link_to 'Edit', edit_blend_path(blend) %></td>
        <td><%= link_to 'Destroy', blend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blend', new_blend_path %>
