<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<p>
  <strong>Wineyard:</strong>
  <%= @wine.wineyard %>
</p>

<p>
  <strong>Year:</strong>
  <%= @wine.year %>
</p>

<% if @wine.strains.present? %>
<h3>Cepas:</h3>
<ul>
  <% @wine.blends.each do |blend| %>
  <li><strong><%= blend.strain.name %>:</strong> <%= blend.percentage %>%</li>
  <% end %>
</ul>
<% end %>
<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>