<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<p>
  <strong>Wineyard:</strong>
  <%= @wine.wineyard %>
</p>

<p>
  <strong>Year:</strong>
  <%= @wine.year %>
</p>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
